<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>SNK</title>
    <meta name="description" content="Stark and Krumm">
    <meta name="author" content="Edvard Eros">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
<div class="container">
    <h3>Stark and Krumm</h3>
    <fieldset>
        <input id="roadNumber" placeholder="Număr foaie" type="number" autofocus>
        <select id="carNumber">
            <option value="8">SM-08-SNK</option>
            <option value="9">SM-09-SNK</option>
            <option value="11">SM-11-SNK</option>
            <option value="12">SM-12-SNK</option>
            <option value="14">SM-14-SNK</option>
            <option value="15">SM-15-SNK</option>
            <option value="16">SM-16-SNK</option>
            <option value="17">SM-17-SNK</option>
            <option value="18">SM-18-SNK</option>
        </select>
        <select id="driverName">
            <option value="BalogI">Józsi</option>
            <option value="KatoS">Sanyi</option>
            <option value="BorosZs">Zsombi</option>
            <option value="JuhaszP">Péter</option>
            <option value="DurkovicsA">Öcsike</option>
            <option value="TatarE ArdeleanS">Ervin Szebi</option>
            <option value="MegyesanE NagyK">Ema Karcsi</option>
        </select>
    </fieldset>
    <fieldset>
        <input id="departure" placeholder="Plecare" type="text">
        <input id="arrival" placeholder="Sosire" type="text">
    </fieldset>
    <fieldset>
        <input id="distanceBig" placeholder="DistanţăMare" type="number">
        <input id="distanceSmall" placeholder="DistanţăMic" type="number">
    </fieldset>
    <fieldset>
        <input id="consumption1" placeholder="Consum1" type="number">
        <input id="consumption2" placeholder="Consum2" type="number">
        <input id="consumption3" placeholder="Consum3" type="number">
    </fieldset>
    <fieldset>
        <select id="date">
            <option value="2019-IAN">2019-IAN</option>
            <option value="2019-FEB">2019-FEB</option>
            <option value="2019-MAR">2019-MAR</option>
            <option value="2019-APR">2019-APR</option>
            <option value="2019-MAI">2019-MAI</option>
            <option value="2019-IUN">2019-IUN</option>
            <option value="2019-IUL">2019-IUL</option>
            <option value="2019-AUG">2019-AUG</option>
            <option value="2019-SEP">2019-SEP</option>
            <option value="2019-OCT">2019-OCT</option>
            <option value="2019-NOI">2019-NOI</option>
            <option value="2019-DEC">2019-DEC</option>
        </select>
    </fieldset>
    <fieldset>
        <input type="button" value="Submitere" onsubmit="saveRoad()"/>
    </fieldset>
    <br><br>
    <h3>Google Drive</h3>
    <fieldset>
        <select id="dateChange" onchange="dateCarNumberChanged(this.value,carNumberChange.value)">
            <option value="2019-IAN">2019-IAN</option>
            <option value="2019-FEB">2019-FEB</option>
            <option value="2019-MAR">2019-MAR</option>
            <option value="2019-APR">2019-APR</option>
            <option value="2019-MAI">2019-MAI</option>
            <option value="2019-IUN">2019-IUN</option>
            <option value="2019-IUL">2019-IUL</option>
            <option value="2019-AUG">2019-AUG</option>
            <option value="2019-SEP">2019-SEP</option>
            <option value="2019-OCT">2019-OCT</option>
            <option value="2019-NOI">2019-NOI</option>
            <option value="2019-DEC">2019-DEC</option>
        </select>
    </fieldset>
    <fieldset>
        <select id="carNumberChange" onchange="dateCarNumberChanged(dateChange.value,this.value)">
            <option value="8">SM-08-SNK</option>
            <option value="9">SM-09-SNK</option>
            <option value="11">SM-11-SNK</option>
            <option value="12">SM-12-SNK</option>
            <option value="14">SM-14-SNK</option>
            <option value="15">SM-15-SNK</option>
            <option value="16">SM-16-SNK</option>
            <option value="17">SM-17-SNK</option>
            <option value="18">SM-18-SNK</option>
        </select>
    </fieldset>
    <fieldset>
        <input type="button" value="Încărcare" onsubmit="uploadToDrive(dateChange.value,carNumberChange.value)"/>
    </fieldset>
    <fieldset>
        <table>
            <thead>
            <tr>
                <th>Plecare</th>
                <th>Sosire</th>
                <th>Număr foaie</th>
                <th>Nume</th>
                <th>Distanţă</th>
                <th>Consum</th>
            </tr>
            </thead>
            <tbody id="table">
            </tbody>
        </table>
    </fieldset>
    <form action="@{/logout}" method="post">
        <input class="button button-outline float-right" type="submit" value="Deconectare"/>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="snk.js"></script>
</body>
</html>