<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SNK</title>
    <meta name="description" content="Stark and Krumm">
    <meta name="author" content="Edvard Eros">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
<div class="container">
    <form th:action="@{/}" method="post">
        <h3>Stark and Krumm</h3>
        <fieldset>
            <input type="text" name="username" id="username" placeholder="Utilizator" required="true" autofocus="true"/>
            <input type="password" name="password" id="password" placeholder="Parolă" required="true"/>
            <input type="submit" class="btn btn-lg" value="Autentificare"/>
            <span th:if="${param.error}">&nbsp;Incorect utilizator sau parolă.</span>
            <span th:if="${param.logout}">&nbsp;Ai fost deconectat.</span>
        </fieldset>
    </form>
</div>
</body>
</html>