<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>SNK</title>
    <meta name="description" content="Stark and Krumm">
    <meta name="author" content="Edvard Eros">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
<div class="container">
    <form id="contact" action="/send" method="post">
        <h3>Stark and Krumm</h3>
        <fieldset>
            <input placeholder="Numar foaie" type="number" name="roadNumber" required autofocus>
        </fieldset>

    </form>
</div>
</body>
</html>